<h1>Convert <%= @base_currency%> to <%= @foreign_currency%></h1>

<p>1 <%= @base_currency%> equals <%= @exchange_rate %> <%= @foreign_currency%>.</p>

<p>Go <a href="/forex/<%= @base_currency%>">back</a>.</p>
